---
layout: 'base.njk'
---
<section class="intro">
    <a href="/news/" class="backlink">
        {% include 'backlink.njk' %}
        News</a>
</section>
<section class="intro">
    <h1>{{ title }}</h1>
    <p>{{ date | postDate }}</p>
    {{ content | safe }}
</section>