<footer>
    <div>
        <a href="/">Home</a>
        <a href="/news/">News</a>
    </div>
    <div>
        <p><span class="quote">You can’t have no in your heart. {% year %} </span> <a href="/colophon/">Colophon</a></p>
    </div>
</footer>