---
title: Colophon
layout: 'base.njk'
---
<section class="intro">
    <a href="/" class="backlink"><i class="fa-solid fa-chevron-left"></i> Home</a>
</section>
<section class="news section-spacing">
    <h2>Typography</h2>
    <p class="exp-p">This site uses <a href="https://www.oliviaking.com/inclusive-sans">Inclusive Sans by Olivia
            King</a>. I chose it because of its easy readability on both light and dark screens and the thought and
        accessibility that Olivia King has put into it. Plus it's just a really beautiful font, I really like it.</p>
</section>
<section class="news section-spacing">
    <h2>Technology</h2>
    <p class="exp-p">I've built this site using <a href="https://www.11ty.dev/">11ty</a>. Its super easy to use static
        site generator that lets you pretty much choose whatever templating language you like. I wanted to use only the
        bare minimum for my site for a couple of reasons. Speed and Accessibility. So I made the concious decision to
        use only HTML, CSS, Markdown, Nunjuck, and 11ty to put everything together.</p>
</section>
<section class="news section-spacing">
    <h2>Open Source</h2>
    <p class="exp-p">I'll constantly try and improve this site. You can always see how its going and how everything is
        built on my <a href="https://github.com/mriel/mattriel">github.com/mriel/mattriel</a>.</p>
</section>