---
title: What I Use
layout: 'base.njk'
---
<section class="intro">
    <a href="/" class="backlink">
        {% include 'backlink.njk' %}
        Home</a>
</section>
<section>
    <h1>What I Use</h1>
    <p>I always liked to see what other developers, designers, content creators use on a daily basis. I thought I would
        put a list of things that I use on a daily bases.</p>
    <h2>Design and Development</h2>
    <ul>
        <li><a href="https://www.razer.com/gaming-laptops/" target="_blank">Razer Blade 15</a> (2022) RTX 3070ti</li>
        <li><a href="https://www.logitechg.com/en-us/products/gaming-keyboards/g915-tkl-wireless.html"
                target="_blank">Logitech G915 TKL Keyboard</a></li>
        <li><a href="https://www.logitechg.com/en-us/products/gaming-mice/pro-wireless-mouse.910-005270.html"
                target="_blank">Logitech Wireless Pro</a></li>
        <li><a href="https://code.visualstudio.com/" target="_blank">VSCode</a></li>
        <li><a href="https://www.figma.com/" target="_blank">Figma</a></li>
        <li><a href="https://www.vim.org/" target="_blank">VIM</a> - trying to be better at using VIM</li>
        <li><a href="https://logseq.com/" target="_blank">Logseq </a>- Notetaking</li>
        <li><a href="https://arc.net/" target="_blank">Arc Browser</a></li>
        <li><a href="https://www.mozilla.org/en-US/firefox/developer/" target="_blank">Firefox Developer Edition</a>
        </li>
    </ul>
    <h2>EDC - Everyday Carry</h2>
    <ul>
        <li><a href="https://evergoods.us/products/civic-travel-bag-26l" target="_blank">Evergoods CTB 26</a></li>
        <li><a href="https://www.peakdesign.com/products/tech-pouch/" target="_blank">Peak Design Tech Pouch</a></li>
        <li><a href="https://www.apple.com/airpods-pro/" target="_blank">Apple Airpods Pro</a></li>
        <li><a href="https://www.apple.com/ipad/" target="_blank">iPad Pro 11</a> 2021</li>
        <li><a href="https://electronics.sony.com/audio/headphones/headband/p/wh1000xm5-b">Sony WH1000XM5</a></li>
    </ul>

</section>